extends ../layout

block content

  p We've been very lucky to have had consistently excellent help. Thanks to the following!

  .member.inline.attention
    a(href="mailto:blarsen@coa.edu")
      h3 Brianna Larson
  .member.inline.attention
    a(href='mailto:syerlig@coa.edu')
      h3 Saras Yerlig
  .member.inline.attention
    a(href='mailto:balance806@gmail.com')
      h3 Jackie Vashon
  .member.inline.attention
    a(href='mailto:charles.tabor@maine.edu')
      h3 Dave Tabor
  .member.inline.attention
    a(href='mailto:Meghan_Nelson@umit.maine.edu"')
      h3 Meghan Nelson
  .member.inline.attention
    a(href='mailto:Katrina.Mueller@noaa.gov')
      h3 Katrina Mueller
  .member.inline.attention
    a(href='mailto:Wesley_Ashe@umit.maine.edu')
      h3 Wes Ashe
  .member.inline.attention
    a(href='mailto:cecil.cates@facebook.com')
      h3 Cecil Cates
  .member.inline.attention
    a(href='mailto:nathanael.koenig@facebook.com')
      h3 Nathanael Koenig
  .member.inline.attention
    a(href='mailto:josh.kocik.9@facebook.com')
      h3 Josh Kocik
  .member.inline.attention
    a(href='mailto:joseph.kocik.5@facebook.com')
      h3 Joe Kocik
