extends ../layout

block content

  p We've been very lucky to have had consistently excellent help. Thanks to the following!

  ul
    li Brianna Larson
    li Saras Yerlig
    li Jackie Vashon
    li Dave Tabor
    li Meghan Nelson
    li Katrina Mueller
    li Wes Ashe
    li Cecil Cates
    li Nathanael Koenig
    li Josh Kocik
    li Joe Kocik
