section.logo
  a(href='/')
    img(src='/images/logo.png')

section.tagline
  p
    | We're working to restore natural stream function
    | in downeast Maine. Creating habitat. Having fun.

nav
  ul
    li: a(href="/about") About
