h1                                                                           
  a(href='/') Project SHARE                                                         
p Restoring natural stream function in Downeast Maine.

nav
  ul
    li
      a(href="/about") About
    li
      a(href="/projects") Projects
