div.header                                                                     
  h1                                                                           
    a(href='/')= title                                                         
