h1 Newsletter
<form action="https://tinyletter.com/salmonhabitat" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/salmonhabitat', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">Want to keep up with SHARE? This is the best way to do it! Enter your email address and we'll keep you posted.</label></p><br><p><input type="text" name="email" id="tlemail" /></p><br><input type="hidden" value="1" name="embed"/><input class="bttn red" type="submit" value="Subscribe" /></form>

h1 Upcoming
p Nothing at the moment.

h1 Posts

- var posts = postList
- var page = 1
ul
  - each post in posts
    li: a(href=post.url)  #{post.title} 
