section
  p Keep up to date on salmon restoration in Downeast Maine!
  p.button: a(href='http://eepurl.com/qY1sz') Subscribe to our Newsletter!

section
  h3 Upcoming Events
  p Nothing at the moment!.
  p Help us fix that. Send an email to <a href='mailto:jacques.tardie@gmail.com'>Jacques</a> if you have any suggestions.

section
  h3 Recent Photos
