.sidebar
  h1 Restoration Notes
  form(action="http://salmonhabitat.us5.list-manage1.com/subscribe/post?u=bbf7105cbddd9f89c833c1613&amp;id=5fcccd1d8f", method="post", id="mc-embedded-subscribe-form" ,name="mc-embedded-subscribe-form", class="validate", target="_blank", novalidate)
    p: label(for="mce-EMAIL") Want to keep up with SHARE? Add your email address and we'll keep you posted.
    br
    p: input(type="email", value="", name="EMAIL", class="email", id="mce-EMAIL", placeholder="Your email address", required)
    br
    input(type="submit", value="Subscribe", name="subscribe", id="mc-embedded-subscribe", class="bttn blue")
  h1 Upcoming Events
  ul.events
    li
      h2 Stream Sim Workshop
      p.date 6/9/2013 - 6/13/2013
      p.location AMC Gorman Chairback Lodge and Cabins

  h1 Recent Blog Posts

  - var posts = getPosts(0,5)
  - var page = 1
  ul
    - each post in posts
      li: a(href=post.url) #{post.title}
    br
    li
      | To see more of our posts,
      a(href='/blog/archive'): strong visit the archives.


  h1 Links
  ul
    li: a(href='http://www.facebook.com/pages/Project-SHARE/283719411378') Facebook
    li: a(href='http://www.flickr.com/photos/salmonhabitat') Flickr
    li: a(href='http://twitter.com/salmonhabitat') Twitter
