nav.social
  ul
    li
      a(href="https://twitter.com/salmonhabitat") 
        img(src="/images/twitter.png")
    li
      a(href="http://www.facebook.com/pages/Project-SHARE/283719411378?ref=hl") 
        img(src="/images/facebook.png")
