---
layout: default
title: About
---
<div class='content'>
	<section>
		<p class='lead'>The success of SHARE’s on-the-ground program is a product of landowner support and cooperation, member commitments of staff and technical assistance, engaged regulators, members’ commitment to SHARE’s mission and operating principles, and a cadre of enthusiastic student and professional volunteers, partners and SHARE’s staff. We look forward to continuing in the same spirit for many years to come.</p>
	</section>

	{% include story/what.html %}
	{% include story/why.html %}
	{% include story/how.html %}
	{% include about/awards.html %}
	{% include about/who.html %}
	{% include about/board.html %}

</div>
