---
layout: default
title: Home
---
<section class='story-intro'>
	<div class='blurb'>
		<h1>Since 2005, SHARE has helped 10 landowners complete 154 habitat restoration projects in Downeast Maine.</h1>
		<h2 class='button'><a href='/get-involved'>Help us restore Maine's rivers and streams</a></h2>
	</div>
</section>

<div class='content'>

	{% include story/what.html %}
	{% include story/why.html %}
	{% include story/how.html %}

	<h2 class='button'>
		<a href='/get-involved'>Help us restore Maine's rivers and streams</a>
	</h2>

</div>
