extends layout

block content

  h3 About SHARE
  p 
    | Formed in 1994 by stakeholders with widely different interests, goals 
    | and viewpoints, SHARE was created as a cooperative forum to contribute 
    | to Atlantic salmon recovery via habitat restoration. Membership is 
    | open to all stakeholders and members are expected to abide by a set 
    | of guidelines based on voluntary participation and cooperation, mutual 
    | respect and commitment to SHARE’s mission. Goodwill among members 
    | is maintained by remaining neutral on political issues and focusing 
    | on win-win opportunities from a land management and conservation 
    | standpoint.

  .us
    h3 Who We Are
    .person.attention.inline
      a(href='/about/steve')
        p Steve Koenig
        img(src='/images/Steve.jpg')

    .person.attention.inline
      a(href='/about/jacques')
        p Jacques Tardie
        img(src='/images/Jacques.jpg')

    .person.attention.inline
      a(href='/about/interns')
        p Past Employees
        img(src='/images/interns.jpg') 
  p 
    | The success of SHARE’s on-the-ground program is a product of landowner 
    | support and cooperation, member commitments of staff and technical 
    | assistance, engaged regulators, members’ commitment to SHARE’s 
    | mission and operating principles, and a cadre of enthusiastic student 
    | and professional volunteers, partners and SHARE’s staff.

  .board
    h3 Board of Directors
    ul
      li
        h3 Joan Trial
        p.title Board Chair
        p.description Senior Atlantic Salmon Biologist
        p.organization: a(href='http://www.maine.gov/dmr/index.htm') Maine DMR
      li
        h3 Ed Loque
        p.title Board Vice-Chair
        p.description Regional Director
        p.organization: a(href='http://www.maine.gov/dep/') Maine DEP
      li
        h3 Ed Hennessey
        p.title Treasurer
        p.description President
        p.organization: a(href='http://www.machiassavings.com/Default.aspx') Machias Savings Bank
      li
        h3 Bill Archambault
        p.description Region 5 Assistant Regional Fisheries Director
        p.organization: a(href='http://www.fws.gov/') USFWS
      li
        h3 Peter Lamothe
        p.description Complex Manager
        p.organization: a(href='http://www.fws.gov') USFWS
      li 
        h3 Keith Kanoti
        p.description Water Resource Forester
        p.organization: a(href='http://www.maine.gov/doc/mfs/') Maine Forest Service
      li
        h3 Dean Bradshaw
        p.description Civil Engineer
        p.organization Bradshaw Civil Engineering Services
      li
        h3 Bob Murphy
        p.description Forester
        p.organization: a(href='http://www.americanforestmanagement.com/') American Forestry Management
      li
        h3 Dave Whitney
        p.description Local Blueberry Grower
      li
        h3 Dan Bowker
        p.description Environmental Coordinator
        p.organization: a(href='http://oxfordfrozenfoods.com/cherryfield_foods') Cherryfield Foods
      li
        h3 Pat Sirois
        p.description Director of Sustainable Forestry Initiative
        p.organization: a(href='http://www.sfiprogram.org/') Maine Forest Council
      li
        h3 Joshua Royte
        p.description Environmental Planner
        p.organization: a(href='http://www.nature.org/') The Nature Conservancy
      li
        h3 Mark Berry
        p.description Executive Director
        p.organization: a(href='https://www.downeastlakes.org/') Downeast Lakes Land Trust
      li
        h3 John Burrows
        p.description 
        p.organization: a(href='http://www.asf.ca/main.html') Atlantic Salmon Federation
