extends layout

block content

  section

    h2 About
    p 
      | Formed in 1994 by stakeholders with widely different interests, goals 
      | and viewpoints, SHARE was created as a cooperative forum to contribute 
      | to Atlantic salmon recovery via habitat restoration. Membership is 
      | open to all stakeholders and members are expected to abide by a set 
      | of guidelines based on voluntary participation and cooperation, mutual 
      | respect and commitment to SHARE’s mission. Goodwill among members 
      | is maintained by remaining neutral on political issues and focusing 
      | on win-win opportunities from a land management and conservation 
      | standpoint.

  section

    h2 Awards
    ul
      li 
        strong 2010 
        | - NFHAP designates SHARE's restoration efforts on the West Branch of the Machias Rivers as one of it's "10 Waters to Watch".
      li 
        strong 2009 
        | - 2009 - National Fish Habitat Action Plan's "Award for Extraordinary Action in Support of Fish  Habitat Conservation."
      li 
        strong 2006 
        | - NRCS Cooperative Conservation Award
      li 
        strong 2005 
        | - American Fisheries Society's "President's Fisheries Conservation Award"
      li 
        strong 2005 
        | - USFWS Assistant Director’s Conservation Award

    p 
      | The success of SHARE’s on-the-ground program is a product of landowner 
      | support and cooperation, member commitments of staff and technical 
      | assistance, engaged regulators, members’ commitment to SHARE’s 
      | mission and operating principles, and a cadre of enthusiastic student 
      | and professional volunteers, partners and SHARE’s staff.
 
  section.us

    h2 Who We Are

    .person
      a(href='/about/steve')
        p Steve Koenig
        img(src='/images/steve.jpg')
    .person
      a(href='/about/jacques')
        p Jacques Tardie
        img(src='/images/jacques.jpg')
    .person
      a(href='/about/interns')
        p Past Employees
        img(src='/images/interns.jpg')

  section.board
    include about/board
