extends layout

block content

  .admin
    p Have an idea for a new blog post, newsletter, or event? Add it here.

    ul
      li: a(href='https://docs.google.com/spreadsheet/ccc?key=0Amvd-ox0FMGGdE5NX1p0VEFlTXFkUkN0QkJrdE5HbUE&usp=sharing') Salmonhabitat.org blog ideas
      li: a(href='https://docs.google.com/spreadsheet/ccc?key=0Amvd-ox0FMGGdHh6eE5LUlVFNTE5clFDMmRndkMwN3c&usp=sharing') Restoration notes ideas
      li: a(href='https://docs.google.com/spreadsheet/ccc?key=0Amvd-ox0FMGGdFN0c0tOYldlMEZwQWhQcUhnVW1lSUE&usp=sharing') Upcoming events
