extends layout

block content

  .event
    .date
      h3 9.13.2012
    .details
      h3 Quarterly SHARE Meeting
      p.location Pembroke stream, below Route 9.
      p.description Field Meeting! We'll be working on removing a remnant log drive dam right on Pembroke stream. Parking on Route 9. Bring your waders!

  p.clear
    | Additionally, we have a more detailed planning calendar
    a(href='https://www.google.com/calendar/embed?src=rthjk4viiko3e9gi04ipea6bkk%40group.calendar.google.com&ctz=America/New_York')  here!
  p
    | Have something to add? Send us an 
    a(href='mailto:jacques.tardie@gmail.com') email!


