extends layout

block content

  p 
    | We're SHARE, or Salmon Habitat and River Enhancement.
    | We’re a nonprofit 501(c)(3) looking to restore fish passage and 
    | natural stream function to benefit Atlantic salmon and other 
    | native fishes. Since 2005, we’ve improved and/or opened up A LOT of 
    | previously  inaccessible habitat – over 100 miles (2800+ habitat units).

  h3 Our Work
  p The majority of our work is within the Machias & Old Stream watersheds, as they've been recognized by biologists as some the highest priority for Atlantic salmon recovery. Please browse around the map below to get a feel for the type of projects we like to work on!
  script(id='cartodb-1369060910413', src='http://jacques.cartodb.com/tables/projects/embed_map.js?title=false&description=false&search=false&shareable=false&cartodb_logo=false&scrollwheel=true&sql=&sw_lat=44.6334823448553&sw_lon=-69.1534423828125&ne_lat=45.54483149242463&ne_lon=-66.5167236328125&height=400&id=cartodb-1369060910413')
