extends layout

block content

  include includes/head

  p Restoring natural stream function in Downeast Maine.

  nav
    ul
      li 
        a(href='/about') About
      li 
        a(href='/blog') Blog
      li 
        a(href='/events') Events
      li 
        a(href='/projects') Projects
