extends layout

block content

  p 
    | We're SHARE, or Salmon Habitat and River Enhancement.
    | We’re a nonprofit 501(c)(3) looking to restore fish passage and 
    | natural stream function to benefit Atlantic salmon and other 
    | native fishes. Since 2005, we’ve improved and/or opened up A LOT of 
    | previously  inaccessible habitat – over 100 miles (2800+ habitat units).

  h3 Our Work
  p The majority of our work is within the Machias & Old Stream watersheds, as they've been recognized by biologists as some the highest priority for Atlantic salmon recovery. Please browse around the map below to get a feel for the type of projects we like to work on!
  <iframe frameBorder='0' src='http://a.tiles.mapbox.com/v3/jacques.map-gmppfmwk.html#10/44.91899999999999/-67.691'></iframe>
