!!!
html
  head
    title= title
    
    // Standardizes viewports for mobile views.
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    // Stylesheets
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    // Typekit
    <script type="text/javascript" src="http://use.typekit.com/iyv6vkd.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  body
    div.container
      block content
