!!! 5
html
  head
    title SHARE | #{title}
    
    block meta
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')

    block javascripts
      script(src='/javascripts/moment.min.js')
      script(src='http://use.typekit.com/iyv6vkd.js')
      script
        try{Typekit.load();}catch(e){}

  body
    header
      .left
        a(href='/'): img.title(src='/images/logo.png')
      .right
        nav
          include includes/nav
    .container
      .content.left
        block content
      .sidebar.right
        include includes/sidebar
    .footer
      include includes/footer
