extends layout
block content

  p 
    | We like to consider ourselves results oriented. Our projects
    | tend to be practical and efficient. 
  
  iframe(frameBorder=0,
    src='http://a.tiles.mapbox.com/v3/jacques.map-tb2ylctt.html#9/44.948/-68.332')

  h2 Want a closer look?
  .project
    a(href='projects/culverts')
      h3 Culverts
      p Open-bottom arches, road decommisions, bridges, and the like.

  .project
    a(href='projects/lwd')
      h3 LWD
      p Large Woody Debris additions, treatments, and studies.

  .project
    a(href='projects/sdss')
      h3 SDSS
      p 
        | The Atlantic salmon Spatial Decision Support System.
        | A tool made to spatially analyze threats and stresses

  .project
    a(href='projects/temperature')
      h3 Temperature
      p
        | We have a giant temperature logger network... Here's out data.
        | A collaboration with MEFRO.
