extends layout
block content

  h1= title
  p 
    | Practical, action oriented work. Plus some more description, etc.
  
  iframe(frameBorder=0,
    src='http://a.tiles.mapbox.com/v3/jacques.map-tb2ylctt.html#9/44.948/-68.332')
  ul.projects
    li
      a(href='projects/culverts') Open-Arch Culverts
    li
      a(href='projects/lwd') Large Woody Debris
    li
      a(href='projects/sdss') ATS Spatial Decision Support System
    li
      a(href='projects/temperature') Temperature
