extends layout

block content

  h3 Resources
  .attention.pad
    a(href="/resources/sdss"): h3 SDSS
    p Less cryptically known as the Atlantic salmon Spatial Decision Support System.
    p The Atlantic salmon spatial decision support system (SDSS) identifies and prioritizes actions that are most likely to ameliorate threats to Atlantic salmon populations. It makes use of institutional knowledge to define the relationship between threats and stresses, and combines that knowledge with spatial data to determine the location and severity of threats to Atlantic salmon.
    p In short, the SDSS helps prioritize where we should be focusing our efforts.
  

