extends layout

block content

  h2 Atlantic salmon SDSS <span class="version">version 0.0.1</span>
  h3 What is it?
  p The Atlantic salmon spatial decision support system (SDSS) identifies and prioritizes actions that are most likely to ameliorate threats to Atlantic salmon populations. It makes use of institutional knowledge to define the relationship between threats and stresses, and combines that knowledge with spatial data to determine the location and severity of threats to Atlantic salmon.

  h3 Why use it?
  p In short, the SDSS helps prioritize where we should be focusing our efforts.
  p Restoring Atlantic salmon to their historic population size is no simple task. With our limited resources, it makes sense to figure out how we can most effectively allocate ourselves, which is what the SDSS tries to do.


  h3 How can I use it?
  p You can use the SDSS in a few ways.
  ul
    li Browse through the <a href="https://docs.google.com/spreadsheet/ccc?key=0Amvd-ox0FMGGdF9CYkZrNXp0bjN6dklGSWdBeGZiZFE">definitions</a> to get get a feel for the threats and stresses affecting ATS.
    li <a href="/images/ats.jpg">View the relationships</a> between threats and stresses.
    li <a href="https://www.dropbox.com/sh/3gfkn0rmwg1pekm/-f15qsqzFf">Download the project</a>, mess around with the inputs.

  h3 Can I contribute?
  p Yes! Please!
  p If you'd really like to get your hands dirty, <a href="https://github.com/salmonhabitat/sdss">fork the project</a>. Gladly accepting pull-requests. Alternatively, if you have any inputs as to the weighting we've used, send us an <a href="mailto:jacquestardie@gmail.com">email</a> with your suggestions. As best as possible, we've tried to make use of as much institutional knowledge as we could find, but we know there are gaps. Help us fill them!

  h3 Additional resources  
  ul  
    li Looking for more detail on how the project works? <a href="/resources/sdss/process">Read more.</a>.
    li Inspiration for the ATS SDSS came directly from the <a href="http://www.spatial.redlands.edu/dtro/">Desert Tortoise SDSS</a>.
    li More information on SDSS' in general can be found at the <a href="http://www.spatial.redlands.edu/sds/ontology/?n=SDSSTool:DTRO_SDSS_V3">SDS Knowledge Portal</a>.
    li Download the <a href="http://www.spatial.redlands.edu/dtro/modelmanager/setup.exe">Model Manager</a>.
    li Learn more about the vocabulary used. Read <a href="/files/salafsky.pdf">A Standard Lexicon for Biodiversity Conservation: Unified Classifications of Threats and Actions</a>.
