// DEPENDENCIES & VARIABLES

		@import '../../components/bower-bourbon/bourbon';

		$font-copy:					"freight-sans-pro";
		$font-heading:				"brandon-grotesque";
		$color-base:				#444;
		$color-base-dark:			#222;
		$color-base-light:			#888;
		$color-brand:				#509ADF;
		//$color-brand-dark:			#58607A;
		$color-brand-dark:			darken($color-brand,10%);
		$color-structure:			#eee;
		$white:						#fff;


// TYPOGRAPHY

		body { 
			color: $color-base;
			font-family: $font-copy;
			line-height: 1.6;
		}

		h2,
		h3 { 
			font-family: $font-heading;
			font-weight: 500;
			text-transform: uppercase;
		}
		p, 
		li { font-size: modular-scale(16px, 0, 1.414); }
		h2 { font-size: modular-scale(16px, 1, 1.414); }
		h1 { font-size: modular-scale(16px, 2, 1.414); }

		a {
			@extend .transition;
			text-decoration: none;
			color: $color-brand;
			&:hover { color: $color-brand-dark; }
		}

		ul { padding: 0; }
		ul li { list-style-type: none; }

		table {
			line-height: 1;
			width: 100%;
			border-collapse:collapse;
		}

		table td,
		table th {
			border-collapse:collapse;
			padding:5px;
			border-bottom:1px solid #f2f2f2;
		}

		.button,
		a.button {
			@extend .transition;
			@extend .standard-radius;
			border: 2px solid $color-brand-dark;
			background: $color-brand;
			padding: .5em 1em;
			font-weight: bold;
			color: white;
			text-align: center;
			margin: 1em auto;
			a { 
				color: white;
				text-decoration: none;
				border: none;
				&:hover { border: none; }
			}
			&:hover { 
				color: $color-brand; 
				background: $white;
				border: 2px solid $color-brand;
			}
		}

		.post-list,
		.post-title,
		.employees li,
		.about h1,
		.about h2,
		.content h1,
		.content h2,
		.content h3 { text-align: center; }

// UTILITY CLASSES

		.bold {	font-weight: bold; }
		.inline { display: inline; }
		.lighten { color: $color-base-light; }
		.darken { color: $color-base-dark; }
		.lead { font-size: 120%; }
		.align-right { text-align: right; }
		.center { margin: 0 auto; max-width: 40rem; }
		.standard-radius { border-radius: 0px; }
		.transition {
			@include transition(0.1s ease-in);
			&:hover { @include transition(0.1s ease-out); }
		}
		ul.indented {
			li {
				margin: .5em 1em .5em 0;
			}
		}
		ul.bullets li {
			margin: .5em 1em .5em 0;
			list-style-type: disc;
		}


// LAYOUT

		* { @include box-sizing(border-box); }
		
		.content img { width: 100%; }
		
		.panes {
			display: inline-block;
			width: 49%;
			vertical-align: top;
		}

		section,
		article { margin: 6em 0; }

		section:first-of-type { margin-top: 10em; }

		article h2 a { color: $color-base; }
		
		header {
			position: fixed;
			top: 0;
			width: 100%;
			background: rgb(32,32,32);
			z-index: 2;
			line-height: 1;

			display:	-webkit-flex;
			display:					flex;
			-webkit-flex-flow: row;
							flex-flow: row;
			flex-direction: row;

			align-items: center;
			padding: 0.25em 2em;
			font-weight: bold;
			img { height: 40px; }
			a { 
				color: white;
				&:hover {
					color: $color-brand;
				} 
			}
		}

		.pre-footer {
			text-align: center;
		}
		footer {
			border-top: 1px dashed $color-structure;
			margin-top: 2em;
			padding: 1em 0;
			text-align: center;
			.donate {
				margin: -4em auto 2em;
			}
			.content {
				padding-top: 4em;
			}
			ul {
				display: inline-block;
				vertical-align: top;
				width: 32%;
			}
		}

		.blurb {
			text-align: center;
			position: relative;
			top: 60px;
			background: url(/assets/img/front-2016.jpg)  no-repeat center center;
			background-size: cover;
			border-bottom: 4px solid #eee;
			padding: 10em 0;
			h1 {
				@extend .standard-radius;
				color: white;
				background: rgba(0,0,0,0.3);
				display: inline-block;
				padding: 0px 20px;
			}
		}
		.intro {
			h2  {
				text-transform: capitalize;
				span { font-weight: bold; }
			}
			p, li {
				font-size: 1.1em;
			}
		}
		.title {
			h2,
			img { display: inline-block; margin-right: 1em; }
			img { vertical-align: middle; }
		}

		.title { -webkit-flex: 1 1; flex: 1 1; }
		nav { -webkit-flex: 1 1; flex: 1 1; }

		nav {
			a { 
				color: white; 
			}
			li.help a { 
				border: 2px solid $color-brand;
				@extend .standard-radius;
				padding: 5px 10px;
				display: inline-block;
			}
			li { 
				display: inline-block;
				margin-left: 1em;
				font-weight: bold;
			}
			ul { text-align: right; }
		}

		.content,
		.pre-footer { @extend .center; }

		.post-title {
			h2,
			h3,
			p.date { margin: 0; }
			p.date { color: #aaa; }
		}

		// !Projects
		.cards {
			display: flex;
			flex-flow: row wrap;
			li {
				position: relative;
				display: inline-block;
				max-width: 45%;
				margin: 2% 2% 1.5em;
				line-height: 1.5em;
				overflow: hidden;
				max-height: 300px;
				text-align: center;
				background-color: #efefef;
				h2 {
					margin:.5em 0 .25em;
					padding: 0 .5em;
				}
			}
		}
		.vcard {
			h4 {
				margin-bottom: 0;
			}
			.fa {
				padding-right: 2em;
			}
			h4,
			.locality { padding-left: 2em; }
		}
		
		.profile {
			position: relative;
			border: 1px solid $color-structure;
			margin-bottom: 1em;
		
			h1 {
				font-size: 1rem;
				margin: 0;
			}
		}
		
		.profile--description {
			padding: 1em;
			float: left;
			width: 60%;
		}
		
		.profile--past {
			margin-bottom: 0;
			padding: 0.5em 1em;
		}
		
		.profile .profile--image {
			float: right;
			height: 100%;
			max-width: 40%;
		}
		
		/**
		 * For modern browsers
		 * 1. The space content is one way to avoid an Opera bug when the
		 *    contenteditable attribute is included anywhere else in the document.
		 *    Otherwise it causes space to appear at the top and bottom of elements
		 *    that are clearfixed.
		 * 2. The use of `table` rather than `block` is only necessary if using
		 *    `:before` to contain the top-margins of child elements.
		 */
		.cf:before,
		.cf:after {
		    content: " "; /* 1 */
		    display: table; /* 2 */
		}
		
		.cf:after {
		    clear: both;
		}
		
		/**
		 * For IE 6/7 only
		 * Include this rule to trigger hasLayout and contain floats.
		 */
		.cf {
		    *zoom: 1;
		}
