

<div class="pre-footer">
	<a href='/get-involved' class='button'>Help us restore Maine's rivers and streams</a>
</div>

<footer>
	
	<div class='content'>
		<ul>
			<li><a href='/about.html#awards'>Awards</a></li>
			<li><a href='/about.html#us'>Who We Are</a></li>
			<li><a href='/about.html#board'>Board of Directors</a></li>
		</ul>
		<ul>
			<li><a href='assets/files/by-laws.pdf'>By-laws</a></li>
			<li><a href='assets/files/data-sharing-policy.pdf'>Data-sharing policy</a></li>
			<li><a href='assets/files/membership-application.pdf'>Membership application</a></li>
		</ul>
		<ul>
			<li><a href='https://www.facebook.com/salmonhabitat'>Facebook</a></li>
			<li><a href='/contact.html'>Contact</a></li>
			<li><a href='mailto:skoenig@salmonhabitat.org'>Email</a></li>
		</ul>
	</div>
</footer>
