<footer>
	<div class='content'>
		<!-- <ul> -->
		<!-- 	<li class='capitalize'>About SHARE</li> -->
		<!-- 	<li><a href='/about.html#awards'>Awards</a></li> -->
		<!-- 	<li><a href='/about.html#us'>Who We Are</a></li> -->
		<!-- 	<li><a href='/about.html#board'>Board of Directors</a></li> -->
		<!-- </ul> -->
		<ul>
			<li class='capitalize'>Fine Print</li>
			<li><a href='assets/files/by-laws.pdf'>By-laws</a></li>
			<li><a href='assets/files/data-sharing-policy.pdf'>Data-sharing policy</a></li>
			<li><a href='assets/files/membership-application.pdf'>Membership application</a></li>
		</ul>
		<ul>
			<li class='capitalize'>Keep up to date</li>
			<li><a href='https://www.facebook.com/salmonhabitat'>Facebook</a></li>
			<li><a href='mailto:hi@jacquestardie.org,stevenkoenig0@gmail.com'>Email</a></li>
			<li><a href='https://confirmsubscription.com/h/d/4ACC656A52FAA023'>Our Newsletter</a></li>
		</ul>
	</div>
</footer>
