<footer>
	<div class='content'>
		<ul>
			<li class='footer-title'>More info</li>
			<li><a href='/about'>Who We Are</a></li>
			<li><a href='/about'>Board of Directors</a></li>
			<li><a href='/about'>Awards</a></li>
		</ul>
		<ul>
			<li class='footer-title'>Fine Print</li>
			<li><a href='#'>Join SHARE</a></li>
			<li><a href='#'>By-laws</a></li>
			<li><a href='#'>Data-sharing policy</a></li>
		</ul>
		<ul>
			<li class='footer-title'>Keep in touch</li>
			<li><a href='https://www.facebook.com/salmonhabitat'>Facebook</a></li>
			<li><a href='http://www.flickr.com/photos/salmonhabitat'>Flickr</a></li>
			<li><a href='mailto:hi@jacquestardie.org,stevenkoenig0@gmail.com'>Send us an email</a></li>
			<li><a href='#'>Subscribe to our newsletter</a></li>
		</ul>
	</div>
</footer>
