h1,
h2,
h3 {
  font-family: "franklin-gothic-urw-con-sc", sans-serif;
  color: $primary;
  font-weight: normal;
  text-transform: lowercase;
}
h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
p,
li {
  font-family: "franklin-gothic-urw-cond", sans-serif;
  color: $secondary;
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}
a {
  color: $primary;
  text-decoration: none;
}
a:hover {
  color: $brand;
}
ul {
  padding-left: 0;
}
li {
  list-style-type: none;
}
iframe {
  width: 100%;
  height: 400px;
}
