.mdmr:hover {
  background: #9ecaed;
}
.usfws:hover {
  background: #aed0e9;
}
.tnc:hover {
  background: #bae7c2;
}
.dllt:hover {
  background: #8fffd2;
}
.asf:hover {
  background: #98d5ff;
}
.msb:hover {
  background: #f8ddb7;
}
.mfs:hover {
  background: #a1e3b0;
}
.wymans:hover {
  background: #b4c8ea;
}
.dep:hover {
  background: #a1d7ff;
}
.afm:hover {
  background: #85ff9d;
}
