.mdmr:hover {
  background: #14446a;
}
.usfws:hover {
  background: #245a82;
}
.tnc:hover {
  background: #349644;
}
.dllt:hover {
  background: #008851;
}
.asf:hover {
  background: #0063a7;
}
.msb:hover {
  background: #e08d17;
}
.mfs:hover {
  background: #184f24;
}
.wymans:hover {
  background: #295295;
}
.dep:hover {
  background: #0072c5;
}
.afm:hover {
  background: #006614;
}
