$mdmr = #14446a
$usfws = #245a82
$tnc = #349644
$dllt = #008851
$asf = #0063a7
$msb = #e08d17
$mfs = #184f24
$wymans = #295295
$dep = #0072c5
$afm = #006614

.mdmr:hover
  background lighten($mdmr, 70%)

.usfws:hover
  background lighten($usfws, 70%)

.tnc:hover
  background lighten($tnc, 70%)

.dllt:hover
  background lighten($dllt, 70%)

.asf:hover
  background lighten($asf, 70%)

.msb:hover
  background lighten($msb, 70%)

.mfs:hover
  background lighten($mfs, 70%)

.wymans:hover
  background lighten($wymans, 70%)

.dep:hover
  background lighten($dep, 70%)

.afm:hover
  background lighten($afm, 70%)
