.container {
  position: relative;
  padding: 1em;
  margin: 0 auto;
  margin-top: 5em;
  width: 960px;
}
.content,
.header {
  position: relative;
  float: left;
  margin: 1em;
}
.content {
  width: 62%;
}
.header {
  width: 28%;
}
.header img.logo {
  display: block;
  margin: 0 auto;
  height: 150px;
}
.header p {
  margin-top: 2em;
  padding: 1em 0;
  font-size: 0.9rem;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  text-align: center;
}
nav li {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.25em 0;
  text-align: center;
}
nav.social ul {
  text-align: center;
}
nav.social li {
  display: inline;
  margin: 0 2px;
}
.projects {
  padding: 1em;
  background: #eee;
}
.projects h3 {
  margin: 0;
}
img.main {
  width: 100%;
}
.person,
.member,
.project {
  display: inline-block;
  vertical-align: top;
  background: #eee;
}
.person h3,
.member h3,
.project h3,
.person p,
.member p,
.project p {
  margin: 0;
  font-weight: normal;
}
.person {
  width: 33%;
}
.person img {
  width: 100%;
  -webkit-filter: grayscale(100%);
}
.person h3 {
  vertical-align: bottom;
  font-size: 1.4rem;
  text-align: center;
}
.person h3 span.role {
  color: #3e66a1;
  font-style: italic;
}
.person:hover img {
  -webkit-filter: grayscale(0%);
}
.member {
  width: 19%;
  margin: 0.5%;
  padding: 0.5em;
}
.member h3,
.member p {
  text-align: center;
}
.member h3 {
  font-size: 1rem;
}
.member p {
  font-size: 0.9rem;
}
.member:hover {
  background: #f3f3f3;
}
.project {
  width: 48%;
  margin: 1%;
  padding: 1em;
}
.project h3,
.project p {
  text-align: center;
}
.project:hover {
  background: #f3f3f3;
}
