body {
  background-image: url("/images/bg/groovepaper.png");
  background-repeat: repeat;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 960px;
}
.content {
  position: relative;
  left: 170px;
  width: 620px;
  padding: 1em;
  background: #fff;
  border-left: 2px solid #f3f3f3;
  border-right: 2px solid #f3f3f3;
}
nav {
  position: fixed;
  top: 5.5rem;
  width: 150px;
}
nav li {
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 0.25rem;
}
nav li a {
  color: #6e706f;
}
.attention {
  background: #eee;
}
.inline {
  display: inline-block;
  vertical-align: top;
  margin: 0.5%;
}
.person {
  width: 32%;
  text-align: center;
  margin-bottom: 1em;
}
.person img {
  width: 100%;
  -webkit-filter: grayscale(100%);
}
.person img:hover {
  -webkit-filter: grayscale(0%);
}
.person h3 {
  font-size: 1.4rem;
  margin: 0;
}
.member {
  width: 24%;
  text-align: center;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
.member p,
.member h3 {
  margin-bottom: 0;
}
.member h3 {
  font-size: 1.2rem;
}
.member p {
  font-size: 0.8rem;
}
