@import "normalize.css";
h1,
h2,
h3 {
  font-family: "franklin-gothic-urw-con-sc", sans-serif;
  color: #535554;
  font-weight: normal;
  text-transform: lowercase;
}
h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
p,
li {
  font-family: "franklin-gothic-urw-cond", sans-serif;
  color: #6e706f;
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}
a {
  color: #535554;
  text-decoration: none;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -ms-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}
a:hover {
  color: #3e66a1;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -ms-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}
ul {
  padding-left: 0;
}
li {
  list-style-type: none;
}
iframe {
  width: 100%;
  height: 400px;
}
.content {
  position: relative;
  margin: 0 auto;
  width: 40em;
  padding: 1em;
}
.content ul {
  margin-left: 2em;
}
.content li {
  list-style-type: circle;
  margin-bottom: 0;
}
.content p a,
.content li a {
  font-weight: bold;
}
.content h3,
.content h2 {
  margin-top: 0;
}
.post img {
  width: 100%;
}
.about img {
  float: right;
  width: 200px;
  margin-left: 1em;
}
header {
  width: 100%;
  background: #444;
  background: url("/images/bg-blur.jpg");
  background-size: 100%;
  height: 12em;
  border-bottom: 5px solid #eee;
  position: relative;
}
.inner {
  margin: 0 auto;
  padding-top: 3em;
  width: 40em;
}
.inner img.title {
  float: left;
  height: 120px;
}
.inner nav {
  float: right;
  position: relative;
  top: 2em;
}
.inner nav li {
  text-transform: uppercase;
  font-weight: bold;
  display: inline;
  margin-left: 0.5em;
}
.inner nav li a {
  color: #fff;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -ms-transition: background 1s ease;
  -o-transition: background 1s ease;
  transition: background 1s ease;
}
.inner nav li a:hover {
  background: rgba(0,0,0,0.2);
  -webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -ms-transition: background 1s ease;
  -o-transition: background 1s ease;
  transition: background 1s ease;
}
.attention {
  background: #e2e2e2;
}
.pad {
  padding: 0.5em;
}
.us .person {
  display: inline-block;
  width: 30%;
  margin: 0 1.3%;
  vertical-align: bottom;
}
.us .person p {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.us .person img {
  width: 100%;
}
.board li {
  margin: 0.5em 0;
}
.board li h3,
.board li p {
  margin: 0;
}
.board li h3 {
  font-size: 1.2em;
}
.footer {
  background: #eee;
  border-top: 2px solid #eee;
}
.footer .inner {
  padding-top: 0;
}
.footer ul {
  display: inline-block;
  width: 33%;
  text-align: center;
}
.footer ul li {
  display: inline;
  margin-right: 5px;
}
.footer ul li a {
  font-weight: bold;
  text-transform: uppercase;
}
.footer ul.social li {
  display: inline;
  margin-left: 5px;
}
ul.posts li {
  text-transform: uppercase;
}
.version {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #f00;
  vertical-align: bottom;
  float: right;
}
