@import colors
@import "normalize.css"
@import base

.content
  position relative
  margin 0 auto
  width 40em
  padding 1em
  ul
    margin-left 2em
  li
    list-style-type circle
    margin-bottom 0
  p a, li a
    font-weight bold
  h3,h2
    margin-top 0

.post
  img
    width 100%

.about 
  img
    float right
    width 200px
    margin-left 1em

header
  width 100%
  background #444
  background url("/images/bg-blur.jpg")
  background-size 100%
  height 12em
  border-bottom 5px solid #eee
  position relative
.inner
  margin 0 auto
  padding-top 3em
  width 40em
  img.title
    float left
    height 120px
  nav
    float right
    position relative
    top 2em
    li
      text-transform uppercase
      font-weight bold
      display inline
      margin-left 0.5em
      a
        color white
        padding 5px 10px
        -webkit-border-radius 5px
        border-radius 5px
        -webkit-transition: background 1s ease;
        -moz-transition: background 1s ease;
        -ms-transition: background 1s ease;
        -o-transition: background 1s ease;
        transition: background 1s ease;
        &:hover
          background:rgba(0,0,0,0.2)
          -webkit-transition: background 1s ease;
          -moz-transition: background 1s ease;
          -ms-transition: background 1s ease;
          -o-transition: background 1s ease;
          transition: background 1s ease;

.attention
  background $structure

.pad
  padding 0.5em

.us
  .person
    display inline-block
    width 30%
    margin 0 1.3%
    vertical-align bottom
    p
      text-align center
      text-transform uppercase
      font-weight bold
    img
      width 100%

.board
  li
    margin 0.5em 0
    h3, p
      margin 0
    h3
      font-size 1.2em
    p

.footer
  background #eee
  border-top 2px solid #eee
  .inner
    padding-top 0
  ul
    display inline-block
    width 33%
    text-align center
    li
      display inline
      margin-right 5px
      a
        font-weight bold
        text-transform uppercase
    &.social
      li
        display inline
        margin-left 5px

ul.posts li
  text-transform uppercase
