// ===== COLORS =====

$primary = #535554
$secondary = #6E706F

$hilite = #FFE06B
$brand = #3E66A1
$structure = #e2e2e2

// ===== TYPOGRAPHY =====

h1, h2, h3 
  font-family "franklin-gothic-urw-con-sc", sans-serif
  color $primary

li, p
  font-family "franklin-gothic-urw-cond", sans-serif
  color $secondary

a
  color $primary
  text-decoration none
  &:hover
    color $brand

p, li
  font-size 1rem

nav
  li
    font-weight bold
    font-size 1.2rem
    margin 0.25em 0
    text-align center
  &.social
    ul
      text-align center
    li 
      display inline
      margin 0 2px

iframe
  width 100%
  height 400px

// ===== STRUCTURE =====

body
  margin 0
  padding 0

.container
  padding 1em
  margin 0 auto

section
  &.logo img
    display block
    margin 0 auto
    height 150px
  &.tagline p
    margin-top 2em
    padding 1em 0
    font-size 0.9rem
    border-top 2px solid $structure
    border-bottom 2px solid $structure
  &.address li
    font-size 0.9rem
    text-align center
  &.projects
    padding 1em
    background $structure
    h3
      margin 0

img.main
  width 100%

.person, .member, .project
  display inline-block
  vertical-align top
  background $structure
  h3, p
    margin 0

.person
  width 23%
  margin 0 1%
  padding 1em
  img
    width 100%
    -webkit-filter grayscale(100%)
  h3
    vertical-align bottom
    span.role
      color $brand
      float right
  &:hover img
    -webkit-filter grayscale(0%)

.member
  width 19%
  margin 0.5%
  padding 0.5em
  h3, p
    text-align center
  h3
    font-size 1rem
  p 
    font-size 0.9rem
  &:hover
    background #f3f3f3

.project
  width 48%
  margin 1%
  padding 1em
  h3, p
    text-align center
  &:hover
    background #f3f3f3

// ===== DESKTOP =====

@media screen and (min-width: 481px)
  .container
    width 960px

  .header, .content
    position relative
    float left
    top 5em
    padding 1em

  .header
    width 28%

  .content
    width 72%
