body {
  line-height: 1.6;
  font-family: "freight-sans-pro";
  color: #444444;
  border-bottom: 1em solid #eeeeee; }

h1 {
  font-size: 1.8em; }

h2 {
  font-size: 1.4em; }

a {
  text-decoration: none;
  color: #222222;
  border-bottom: 1px solid #509adf;
  -webkit-transition: 0.1s ease-in;
  -moz-transition: 0.1s ease-in;
  transition: 0.1s ease-in; }
  a:hover {
    border-bottom: 1px solid #58607a;
    -webkit-transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
    transition: 0.1s ease-out; }

li {
  list-style-type: none; }

ul {
  padding: 0; }

.bold {
  font-weight: bold; }

.capitalize {
  text-transform: uppercase; }

.center, .story-intro .blurb, .content {
  margin: 0 auto;
  max-width: 40rem; }

.panes {
  display: inline-block;
  width: 49%;
  vertical-align: top; }

.pane--left {
  text-align: right; }

.pane--right {
  text-align: left; }

.logo:hover {
  opacity: 0.7; }
.logo a {
  border: none; }

.story-intro {
  margin-top: 0;
  background: url(https://s3.amazonaws.com/salmonhabitat.org/posts/groves_pre_downstream_looking_up.jpg) no-repeat center center fixed;
  background-size: cover; }
  .story-intro .blurb {
    text-align: center;
    padding: 4em 0; }
    .story-intro .blurb h1 {
      color: white;
      text-shadow: 1px 2px 1px #444; }

.button {
  border: 2px solid #58607a;
  border-bottom-width: 4px;
  border-radius: 2px;
  background: #509adf;
  padding: .5em 1em;
  font-weight: bold;
  -webkit-transition: 0.1s ease-in;
  -moz-transition: 0.1s ease-in;
  transition: 0.1s ease-in; }
  .button a {
    color: white;
    text-decoration: none;
    border: none; }
    .button a:hover {
      border: none; }
  .button:hover {
    background: #58607a;
    -webkit-transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
    transition: 0.1s ease-out; }

.content img {
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

section {
  margin: 6em 0; }

header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  flex-direction: row;
  align-items: center;
  padding: 1em 2em; }
  header img {
    height: 80px; }

footer {
  font-size: 90%;
  border-top: 1px dashed #eeeeee;
  margin-top: 2em;
  padding: 2em 0; }
  footer ul {
    display: inline-block;
    vertical-align: top;
    width: 32%; }

.logo {
  -webkit-flex: 1 1;
  flex: 1 1; }

nav {
  -webkit-flex: 4 1;
  flex: 4 1; }

nav li {
  display: inline;
  margin-left: 1em;
  font-weight: bold; }
nav ul {
  text-align: right; }

.content h2 {
  text-align: center; }

.post-list {
  text-align: center; }

.post-title {
  text-align: center; }
  .post-title h2,
  .post-title h3,
  .post-title p.date {
    margin: 0; }
  .post-title p.date {
    color: #aaa; }
