h3 Board of Directors

ul.board
  li
    | Joan Trial - 
    a(href='http://www.maine.gov/dmr/index.htm') Maine DMR
  li
    | John Burrows - 
    a(href='http://www.asf.ca/main.html') Atlantic Salmon Federation
  li
    | Ed Hennessey - 
    a(href='http://www.machiassavings.com/Default.aspx') Machias Savings Bank
  li
    | Bill Archambault - 
    a(href='http://www.fws.gov/') USFWS
  li
    | Peter Lamothe - 
    a(href='http://www.fws.gov') USFWS
  li 
    | Keith Kanoti - 
    a(href='http://www.maine.gov/doc/mfs/') Maine Forest Service
  li
    | Robert Murphy - 
    a(href='http://www.americanforestmanagement.com/') AFM
  li
    | Dan Bowker - 
    a(href='http://oxfordfrozenfoods.com/cherryfield_foods') Cherryfield Foods
  li
    | Pat Sirois - 
    a(href='http://www.sfiprogram.org/') Maine Forest Council
  li
    | Joshua Royte - 
    a(href='http://www.nature.org/') The Nature Conservancy
  li
    | Mark Berry - 
    a(href='https://www.downeastlakes.org/') Downeast Lakes Land Trust
