.member
  a(href='http://www.maine.gov/dmr/index.htm')
    h3 Joan Trial
    p MDMR

.member
  a(href='http://www.fws.gov/')
    h3 Bill Archambault
    p USFWS

.member
  a(href='http://www.nature.org/')
    h3 Joshua Royte
    p TNC

.member
  a(href='https://www.downeastlakes.org/')
    h3 Mark Berry
    p DLLT

.member
  a(href='http://www.asf.ca/main.html')
    h3 John Burrows
    p ASF

.member
  a(href='http://www.machiassavings.com/Default.aspx')
    h3 Ed Hennessey
    p Machias Savings Bank

.member
  a(href='http://www.maine.gov/doc/mfs/')
    h3 Keith Kanoti
    p MFS

.member
  a(href='http://www.wymans.com/')
    h3 Nat Linquist
    p Jasper Wyman & Sons

.member
  a(href='http://www.maine.gov/dep/')
    h3 Ed Loque
    p MDEP

.member
  a(href='http://www.americanforestmanagement.com/')
    h3 Bob Murphy
    p AFM
