h3 Who We Are

.person
  a(href='/about/steve')
    p Steve Koenig
    img(src='/images/steve-alt.jpg')

.person
  a(href='/about/jacques')
    p Jacques Tardie
    img(src='/images/Jacques.jpg')

.person
  a(href='/about/interns')
    p Past Employees
    img(src='/images/interns.jpg') 
