.person.attention.inline
  a(href='/employees/steve')
    h3 Steve Koenig
    img(src='images/steve.jpg')

.person.attention.inline
  a(href='/employees/jacques')
    h3 Jacques Tardie
    img(src='images/jacques.jpg')

.person.attention.inline
  a(href='/employees/interns')
    h3 Interns
    img(src='images/interns.jpg')
