.person
  h3 Steve <span class="role">Admin</span>
  img(src='images/Steve.jpg')

.person
  a(href="/people/wes")
  h3 Jacques <span class="role">Data</span>
  img(src='images/Jacques.jpg')

.person
  h3 Katrina <span class="role">Outreach</span>
  img(src='images/Katrina.jpg')

.person 
  h3 Wes <span class="role">Research</span>
  img(src='images/Wes.jpg')
