.person.attention.inline
  a(href='/about/steve')
    p Steve Koenig
    img(src='/images/steve.jpg')

.person.attention.inline
  a(href='/about/jacques')
    p Jacques Tardie
    img(src='/images/jacques.jpg')

.person.attention.inline
  a(href='/about/interns')
    p Past Employees
    img(src='/images/interns.jpg')
