.person.attention.inline
  a(href='/about/steve')
    h3 Steve Koenig
    img(src='images/steve.jpg')

.person.attention.inline
  a(href='/about/jacques')
    h3 Jacques Tardie
    img(src='images/jacques.jpg')

.person.attention.inline
  a(href='/about/interns')
    h3 Past Employees
    img(src='images/interns.jpg')
