.person.attention.inline
  a(href='/employees/steve')
    h3 Steve Koenig
    img(src='images/Steve.jpg')

.person.attention.inline
  a(href='/employees/jacques')
    h3 Jacques Tardie
    img(src='images/Jacques.jpg')

.person.attention.inline
  a(href='/employees/interns')
    h3 Interns
    img(src='images/Katrina.jpg')
