extends ../layout
block content

  h1= title
  p 
    | It may not seem like much of an issue, but culverts have a
    | massive impact on fish passage. Even those culverts that do 
    | allow passage often affect natural stream function, and can
    | cause increased temperature and affect sediment transport.

  p
    | For those reasons, one of the best ways to restore streams
    | in downeast Maine is by replacing offending culverts with
    | Open-Bottom Arches, which allow for natural stream hydrology.

  iframe(frameborder=0, src='#{map}')
