extends ../layout
block content

  h1= title
  p 
    | Large woody debris (LWD) additions form an important component
    | of our restoration approach at SHARE. Because so many of our
    | rivers in downeast Maine were driven for timber, the stream
    | channels are commonly wider and straighter than they naturally
    | should be.

  p
    | Coupled with the fact that many of our forests are still a bit
    | 'young', there's a significant lack of woody debris in our streams.
    | By artificially treating the streams, we can accelerate the recovery
    | processes.

  h3 Our LWD additions
  iframe(frameborder=0, src='#{map}')
