<section id='awards' class='about-awards'>

	<h2>Awards</h2>

	<p>Steve was named a <strong>2012 USFWS Recovery Champion</strong> for his contributions to the recovery of Atlantic salmon in Downeast Maine. The award was presented not just for his work restoring fish passage and natural stream hydrology, but for fostering collaboration among those involved in restoration efforts in Maine. <a href='http://usfwsnortheast.wordpress.com/2013/05/17/making-way-for-maines-atlantic-salmon/'>Read more here.</a></p>

	<p>In <strong>2010 The West Branch Machias River was named one of NFHAP's '10 Water's to Watch'</strong>. The list identifies bodies of water that are improving through the conservation efforts of regional partnerships of community groups, nonprofit organizations, local watershed groups, Native American tribes, and state and federal agencies. <a href='http://bangordailynews.com/2010/07/08/news/down-east-stream-restoration-under-way/'>More information here.</a></p>

	<p>In <strong>2009</strong>, the restoration efforts SHARE helped facilitate in Downeast Maine was recognized with <strong>NFHAP's "Award for Extraordinary Action in support of fish habitat conservation."</strong>. At the time of the award, over 140 road-stream crossings had been replaced, 30 culverts decommissioned, and 15+ log drive dams had been removed.</p>

	<p><strong>The NRCS Cooperative Conservation Award</strong> was awarded in <strong>2006</strong> in response to the collaborate efforts SHARE had been a part of in Downeast Maine.</p>

	<p>In <strong>2005</strong>, Steve was awarded the <strong>American Fisheries Society's "President's Fisheries Conservation Award."</strong>.</p>

	<p>Later that year, Steve awarded again with the <strong>USFWS Assistant Director's Conservation Award.</strong></p>

</section>
