<section id='us' class='about-board'>
	<h2>2015-16 Project SHARE Board of Directors</h2>
	<table>
		<tbody>
			{% for member in site.data.board %}
				<tr>
					<td class='bold'>{{ member.name }}</td>
					<td class=''>{{ member.title }}</td>
					<td class='align-right'>{{ member.organization }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</section>

<section id='us' class='about-advisory'>
	<h2>Project SHARE Advisory Committee</h2>
	<table>
		<tbody>
			{% for member in site.data.advisory %}
				<tr>
					<td class='bold'>{{ member.name }}</td>
					<td class='align-right'>{{ member.organization }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
