<section id='us' class='about-who-we-are'>

	<h2>Who We Are</h2>

		<div class='profile steve cf'>
			<img alt='Steve Koenig' class='profile--image cf' src='/assets/img/steve-alt.jpg' />
			<div class='profile--description'>
				<h1>Steven Koenig</h1>
				<p>Steven has been acting as SHARE's Executive Director since 2001, and as a general contractor for its restoration program since 2005.</p>
			</div>
		</div>

		<div class='profile chris cf'>
			<img alt='Christopher Federico' class='profile--image cf' src='/assets/img/chris.jpg' />
			<div class='profile--description'>
				<h1>Christopher Federico</h1>
				<p>Chris has been working full-time as SHARE's habitat restoration project manager since 2017.  Before that he worked seasonally as a SHARE crew member and as a contract fisheries technician for Maine DMR Division of Sea-run Fisheries and Habitat.</p>
			</div>
		</div>

		<div class='profile joan cf'>
			<div class='profile--description'>
				<h1>Joan Trial</h1>
				<p>Joan is a retiree who works part-time for SHARE as the Senior Scientist for Narraguagus Watershed Restoration Project.  She worked as the senior salmon biologist for Maine DMR Division of Sea-run Fisheries and Habitat and its previous incarnation, Maine Atlantic Salmon Commission.</p>
			</div>
		</div>

	<h3>Past Employees</h3>
		{% for employee in site.data.employees %}
			<div class='profile profile--past'>
				<h1>{{ employee.name }}</h1>
			</div>
		{% endfor %}

</section>
