extends ../../layout

block content

  .about
    img.thumbnail(src='/images/jacques.jpg')
    p Jacques has been with SHARE since 2008.
    p Since then, his role has changed from a volunteer, to a member of a field crew, to managing SHARE's data, technical projects, and outreach.
    p More than anything, Jacques is working to improve ease of use, transparency, and communication among SHARE's peers. If you have any suggestions on efficient ways to do that, please, get in touch!
    p Aside from that, Jacques spends most of his time playing soccer, watching Arsenal, reading and hiking.

    h3 Education
    ul
      li B.S. in Biology from Nazareth College
   
    .contact
      p: a(href='mailto:jacques.tardie@gmail.com') Email
      p: a(href='http://jacquestardie.org') Homepage
