extends ../../layout

block content

  .about
    img.thumbnail(src='/images/steve.jpg')
    p Steven has been acting as SHARE's Executive Director since 2001, and as a general contractor for its restoration program since 2005. Over the past 8 years, he has worked with diverse partners to develop a nationally recognized habitat restoration progra involving over 100 restoration projects to date as of 2012.
    p He was previously a Department Head of Lending in a financial institution, managing a $38,000,000 loan portfolio.
    p Steven enjoys getting his hands dirty, and his feet wet during work, and otherwise enjoys canoeing, kayaking, hiking, cross country skiing, and being outdoors in his spare time.

    h3 Awards
    p In 2009, the National Fish Habitat Action Plan recognized Steven with its first national award for 'Extraordinary Action in Supporting Fish Habitat Conservation.'

    h3 Education
    ul
      li DEP-certified in Erosion and Sediment Control Practices.
      li Trained by the USFWS in Natural Stream Channel Design.
      li B.S. in cellular biology from the University of Michigan.
      li Studied Oceanography and Limnology at the University of Wisconsin.
      li Studied fish physiology at West Virginia University.

    .contact
      p: a(href="mailto:skoenig@salmonhabitat.org") Email
