<!DOCTYPE html>
<html>

	<head>
		<meta charset='utf-8'>
		<title>{{ page.title }} | SHARE</title>
		<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
		<meta name='author' content='Project SHARE <skoenig@salmonhabitat.org>'>
		<meta name='keywords' content='salmon, habitat, share, salmon habitat, atlantic salmon, maine, restoration, arch culverts'>
		<meta name="description" content="Salmon Habitat And River Enhancement: Project SHARE's goal is to conserve and enhance Atlantic salmon habitat and populations in the Downeast rivers region of Maine.">
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>

		<!-- STYLESHEETS -->
		<link rel='stylesheet' href='/assets/components/normalize-css/normalize.css' />
		<!-- <link rel='stylesheet' href='/assets/components/glidejs/dist/css/style.css' /> -->
		<link rel='stylesheet' href='/assets/css/site.css' />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

		<!-- Chartbeat -->
		<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
		<meta name="google-site-verification" content="r4xlQ745lbehsySvDGAPTSyeVgvp_xNkyDsMbj_Yus0" />
	</head>

	<body>
		{% include header.html %}
			<div class='container'>
			{{ content }}
			{% include footer.html %}
		</div>

		<!-- JAVASCRIPTS -->
		<!-- <script type='text/javascript' src='http://code.jquery.com/jquery-1.9.1.min.js'></script> -->
		<!-- <script type='text/javascript' src='/assets/components/glidejs/dist/jquery.glide.min.js'></script> -->
		<!-- <script type='text/javascript' src='/assets/js/slider.js'></script> -->
		<script type='text/javascript' src='//use.typekit.net/iyv6vkd.js'></script>
		<script type='text/javascript'>try{Typekit.load();}catch(e){}</script>
		<!-- Chartbeat -->
		<script type="text/javascript">
			  var _sf_async_config = { uid: 54717, domain: 'salmonhabitat.org', useCanonical: true };
				  (function() {
					    function loadChartbeat() {
							      window._sf_endpt = (new Date()).getTime();
							      var e = document.createElement('script');
							      e.setAttribute('language', 'javascript');
							      e.setAttribute('type', 'text/javascript');
							      e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
							      document.body.appendChild(e);
							    };
					    var oldonload = window.onload;
					    window.onload = (typeof window.onload != 'function') ?
					      loadChartbeat : function() { oldonload(); loadChartbeat(); };
					  })();
		</script>
	</body>

</html>
