<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>{{ page.title }} | SHARE</title>
		<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
		<meta name='author' content='Jacques Tardie <hi@jacquestardie.org>'>
		<meta name='keywords' content='share, salmonhabitat, atlantic salmon, maine, restoration, arch culverts' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>

		<!-- STYLESHEETS -->
		<link rel='stylesheet' href='assets/components/normalize-css/normalize.css' />
		<link rel='stylesheet' href='assets/components/glidejs/dist/css/style.css' />
		<link rel='stylesheet' href='assets/css/site.css' />
	</head>

	<body>
		{{ content }}

		<footer>
			<div class='content'>
				<ul>
					<li class='footer-title'>More info</li>
					<li><a href='/about'>Who We Are</a></li>
					<li><a href='/about'>Board of Directors</a></li>
					<li><a href='/about'>Awards</a></li>
				</ul>
				<ul>
					<li class='footer-title'>Fine Print</li>
					<li><a href='#'>Join SHARE</a></li>
					<li><a href='#'>By-laws</a></li>
					<li><a href='#'>Data-sharing policy</a></li>
				</ul>
				<ul>
					<li class='footer-title'>Keep in touch</li>
					<li><a href='https://www.facebook.com/salmonhabitat'>Facebook</a></li>
					<li><a href='http://www.flickr.com/photos/salmonhabitat'>Flickr</a></li>
					<li><a href='mailto:hi@jacquestardie.org,stevenkoenig0@gmail.com'>Send us an email</a></li>
					<li><a href='#'>Subscribe to our newsletter</a></li>
				</ul>
			</div>
		</footer>

		<!-- JAVASCRIPTS -->
		<script type='text/javascript' src='http://code.jquery.com/jquery-1.9.1.min.js'></script>
		<script type='text/javascript' src='assets/components/glidejs/dist/jquery.glide.min.js'></script>
		<script type='text/javascript' src='assets/js/slider.js'></script>
		<script type='text/javascript' src='//use.typekit.net/iyv6vkd.js'></script>
		<script type='text/javascript'>try{Typekit.load();}catch(e){}</script>
	</body>
</html>
