---
layout: default
---
<div class='content'>
	<section>

	<article>
		<h2 class='post-title'>
			<a href='{{ page.url}}'>{{ page.title }}</a>
		</h2>
		<p class='date'>{{ page.date | date: "%B %m, %Y "}}</p>

		{% if page.image %}
		<figure class="featured-image">
			<img src="{{ page.image }}" alt="{{ page.title }}" title="{{ page.title }}">
			{% if page.image_caption %}
			<figcaption> {{page.image_caption}}</figcaption>
			{% endif %}
		</figure>
		{% endif %}		
		
		{{ content }}
	</article>
	
	<p class="center"><a href='/projects' class="button">See more SHARE projects</a></p>

	</section>
</div>