<section class='story-how'>

	<h2>How we achieve results</h2>

	<p><span class='bold'>Open-bottom arch culverts and bridges</span> span the bankfull channel width of the stream, allowing natural stream processes to occur. In addition to restoring the stream's capacity to move nutrients and sediments, fish passage is often dramatically improved. Open-bottom arch culverts and bridges are relatively maintenance free, and once installed, can be left untouched for upwards of 70 years.</p>

	<p><span class='bold'>Large woody debris additions</span> help to address the lack of naturally occurring wood in Downeast Maine's streams. Additions increase the rate at which streams develop complexity, allowing for more numerous and varied habitats for the species inhabiting the stream.</p>

	<p><span class='bold'>Clamshell additions</span> are a cost-effective means of buffering pH. Many of Maine's watersheds lack significant levels of basic pH buffers. Combined with acid rain and backwaters which form peats and bogs, this often results in highly acidic streams that aren't conducive to insect or animal life. By adding clamshells, we create more pH neutral environments which benefit the local fauna.</p>

	<p><span class='bold'>Education.</span> SHARE works with local schools and colleges to provide students with restoration experience and an understanding of why it's important. We help others to understand how 'natural' streams should function, why they don't, and how to fix them.</p>
	
	<h2>Process-based Restoration</h2>
	<p>Project SHARE's habitat restoration program is based on a process based, focus area approach where priority focus areas are identified with the assistance of state and federal fisheries biologists. You can find out more about <a href="/process-based-restoration">our approach here</a>.

</section>
