<section class='story-how'>

	<h2>How we achieve results</h2>

	<div class='slider'>
		<ul class='slides'>
			<li class='slide'><img src='https://s3.amazonaws.com/salmonhabitat.org/story/success/tree-planting.jpg' /></li>
			<li class='slide'><img src='https://s3.amazonaws.com/salmonhabitat.org/story/success/talking.jpg' /></li>
			<li class='slide'><img src='https://s3.amazonaws.com/salmonhabitat.org/story/success/poling-everyone.jpg' /></li>
			<!-- <li class='slide'><img src='https://s3.amazonaws.com/salmonhabitat.org/story/success/dead-stream-construction.jpg' /></li> -->
			<li class='slide'><img src='https://s3.amazonaws.com/salmonhabitat.org/story/success/construction.jpg' /></li>
		</ul>
	</div>

	<p><span class='bold'>Open-bottom arch culverts.</span> By spanning the bankfull channel width, open-bottom arch culverts allow natural stream processes to occur. In addition to restoring the stream's capacity to move nutrients and sediments, fish passage is dramatically improved. Open-bottom arch culverts are relatively maintenance free, and once installed, can often be left untouched for 70 years.</p>
	<p><span class='bold'>Large woody debris additions</span> help to address the lack of naturally occuring wood in Downeast Maine's streams. Additions increase the rate at which streams develop complexity, allowing for more numerous and varied habitats for the species using that portion of the stream.</p>
	<p><span class='bold'>Clamshell additions</span> are a cost-effective means of buffering pH. Many of Maine's watersheds lack significant levels of basic pH buffers. Combined with acid rain and backwaters which form peats and bogs, this often results in highly acidic streams that aren't conducive to insect or animal life. By adding clamshells, we create more pH neutral environments which benefit the local fauna.</p>
	<p><span class='bold'>Education.</span> SHARE works with local schools and colleges to provide students with both restoration experience, and the understanding of why it's important. We help others to understand how 'natural' streams should function, and why they often don't.</p>

</section>
