<section class='story-what'>

	<h2>A little about us.</h2>

	<div class='slider'>
		<ul class='slides'>
			<li class='slide'><img src='https://s3.amazonaws.com/salmonhabitat.org/story/overview/stream.jpg' /></li>
			<li class='slide'><img src='https://s3.amazonaws.com/salmonhabitat.org/story/overview/high-flows.jpg' /></li>
			<!-- <li class='slide'><img src='https://s3.amazonaws.com/salmonhabitat.org/story/overview/gradient.jpg' /></li> -->
			<!-- <li class='slide'><img src='https://s3.amazonaws.com/salmonhabitat.org/story/overview/foliage.jpg' /></li> -->
			<li class='slide'><img src='https://s3.amazonaws.com/salmonhabitat.org/story/overview/culvert-winter.jpg' /></li>
			<!-- <li class='slide'><img src='https://s3.amazonaws.com/salmonhabitat.org/story/overview/bear-brook.jpg' /></li> -->
		</ul>
	</div>

	<p><span class='bold'>We focus on enabling good relationships.</span> SHARE was formed in 1994 as a cooperative forum where stakeholders could contribute to Atlantic salmon restoration efforts. Goodwill amongst our members is maintained by remaining neutral on political issues and focusing on win-win opportunities from a land management and conservation standpoint. <a href='/about.html#us'>Learn more about who we are.</a></p>
	<p><span class='bold'>We work collaboratively</span> with our partners to find solutions that are both ecologically and financially efficient. SHARE leverages a variety of funding sources to enable landowners to take on projects they wouldn't be able to do alone.</p>
	<p><span class='bold'>We're experienced.</span> SHARE has completed over 150 restoration projects in the last 10 years. Our network of contractors are experienced in habitat restoration projects, allowing us to get work done faster than would be possible otherwise.</p>
	<p><span class='bold'>SHARE has a history of success.</span>  Due in large part to our excellent partners, SHARE has been the recipient of <a href='/about.html#awards'>numerous awards</a>. And we plan on winning more.</p>

</section>
