<section class='story-what'>

	<h2>A little about us.</h2>

	<p><span class='bold'>SHARE focuses on building and maintaining good relationships.</span> SHARE was formed in 1994 as a cooperative forum where stakeholders could contribute to Atlantic salmon restoration efforts. Goodwill amongst our members is maintained by remaining neutral on political issues and focusing on win-win opportunities.<a href='/about.html#us'> Learn more about who we are.</a></p>

	<p><span class='bold'>We work collaboratively</span> with our partners to find solutions that are both ecologically and financially efficient. SHARE leverages a variety of funding sources to enable landowners to take on projects they wouldn't be able to do alone.</p>

	<p><span class='bold'>A history of success.</span> SHARE has completed over 150 restoration projects in the last 10 years. Our network of contractors are experienced in habitat restoration projects, allowing us to get work done quickly and efficiently. Due in large part to our excellent relationships, SHARE has been the recipient of <a href='/about.html#awards'>numerous awards.</a></p>

</section>
