<section class='story-why'>

	<h2>Why our work is necessary.</h2>
	
	<div class='slider'>
		<ul class='slides'>
			<li class='slide'><img src='https://s3.amazonaws.com/salmonhabitat.org/story/why/washout-3.jpg' /></li>
			<li class='slide'><img src='https://s3.amazonaws.com/salmonhabitat.org/story/why/washout-2.jpg' /></li>
			<li class='slide'><img src='https://s3.amazonaws.com/salmonhabitat.org/story/why/remnant-remains.jpg' /></li>
			<li class='slide'><img src='https://s3.amazonaws.com/salmonhabitat.org/story/why/remnant-dam.jpg' /></li>
			<li class='slide'><img src='https://s3.amazonaws.com/salmonhabitat.org/story/why/canaan-remnants.jpg' /></li>
		</ul>
	</div>

	<p><span class='bold'>The log-drive era dramatically altered the shape of Maine's rivers and streams.</span> Dams were constructed, channels were straightened, and complexity was reduced in an effort to make it easier to get lumber downstream.</p>
	<p><span class='bold'>The number of road-stream crossings</span> has increased dramatically since the 1950's, as Maine's timber industry shifted from it's means of extracting wood from rivers to roads. While hydraulically sufficient, many of these crossings affect natural stream processes. Individually, the effects may be negligible; cumulatively, they're dramatic.</p>
	<p><span class='bold'>Atlantic salmon are endangered</span>, and unless we work to rehabilitate their habitat, it's unlikely that they'll be able to recover. We've already improved over 2,800 habitat units, but more will be required.</p>

</section>
